#start#
su -s /bin/sh - msausr

psql -U msa -c "select * from snmpcounterseq;"

psql -U msa -c "alter sequence snmpcounterseq restart {{snmp_start_id}};"

{% for counter in snmpcounters %}
psql -U msa -c "insert into snmpcounter (id,name,oid,port,type,community,targetservertype) values ({{snmp_start_id + loop.index0}},'{{counter.name}}','{{counter.oid}}',{{snmp_port}},'{{counter.type}}','{{snmp_community}}','{{counter.targetservertype}}');"
{% endfor%}

{% for counter in snmpcounters %}
psql -U msa -c "delete from snmpcounter where  name = '{{counter.name}}';"
{% endfor%}

psql -U msa -c "alter sequence snmpcounterseq restart {{snmp_start_id}};"

exit
#end#