{% block header %}#cloud-config
{% endblock header %}

{% block passwd %}chpasswd:
{% endblock passwd %}

{% block user %}users:
{% endblock user %}

{% block bootcmd %}bootcmd:
{% endblock bootcmd %}

{% block runcmd %}runcmd:
{% endblock runcmd %}

{% block timezone %}
{% endblock timezone %}

{% block write_files %}write_files:
{% endblock write_files %}

{% block scripts_per_once %}scripts_per_once:
{% endblock scripts_per_once %}

{% block power_state %}power_state:
{% endblock power_state %}