# Start #
su -s /bin/bash - msausr -c "bash"
PGPASSWORD=wapwap12 psql -U msa
\set ON_ERROR_STOP 1
{% if afg_psql_database.NAF is defined %}
delete from NAF;
{% for item in afg_psql_database.NAF %}
insert into NAF (fqdn,uasecprotoid,sendimpitonaf,nafipaddress,description) values ('{{item.fqdn}}','{{item.uasecprotoid}}','{{item.sendimpitonaf}}','{{item.nafipaddress}}','{{item.description}}');
{% endfor%}
{% endif%}
delete from DIAMETERPEER;
delete from DIAMETERPEERLIST;
delete from DIAMETERROUTE;
select setval('diameterpeerseq',99);
{% for item in afg_psql_database.Diameter.Peers %}
insert into DIAMETERPEER (diameterpeerseq,peerdisplayname,hostname,address,port,timeout) values (nextval('diameterpeerseq'),'{{item.DisplayName}}','{{item.HostName}}','{{item.IPAddress}}',{{item.Port}},{{item.Timeout}});
{% endfor%}
select setval('diameterpeerlistseq',99);
select setval('diameterrouteseq',99);
{% for route in afg_psql_database.Diameter.Routes %}
{% set route_loop = loop %}
insert into DIAMETERPEERLIST (diameterpeerlistseq,listname) values (nextval('diameterpeerlistseq'),'list-{{100 + route_loop.index - 1}}');
{% for peer in route.peers %}
insert into DIAMETERPEERLISTMEMBERS (diameterpeerlistid,peer,prio) values ({{100 + route_loop.index - 1}},{{100 + peer.peer}},'{{peer.priority}}');
{% endfor %}
insert into DIAMETERROUTE (diameterrouteseq,application,realm,peerlist) values (nextval('diameterrouteseq'),{{route.application}},'{{route.Realm}}',{{100 + route_loop.index - 1}});
{% endfor %}
delete from AUIDXDMSPOOLMAP;
delete from XDMSPOOLMAP;
delete from XDMSPOOLS;
delete from XDMSERVERS;
select setval('xdmserveridseq',99);
{% for item in afg_psql_database.AP.servers %}
INSERT INTO XDMSERVERS (XDMSERVERID, XDMSERVERADDRESS, XDMSERVERPORT, XDMSERVICE) VALUES (nextval('xdmserveridseq'),'{{item.address}}',{{item.port}},'{{item.service}}');
{% endfor%}
select setval('xdmspoolidseq',99);
{% for pool in afg_psql_database.AP.pools %}
INSERT INTO XDMSPOOLS (XDMSPOOLID, XDMSPOOLNAME) VALUES (nextval('xdmspoolidseq'),'{{pool.name}}');
{% endfor %}
{% for pool in afg_psql_database.AP.pools %}
{% set pool_loop = loop %}
{% for server_name in pool.mapping%}
INSERT INTO XDMSPOOLMAP (XDMSPOOLID, XDMSERVERID, PRIORITY) VALUES ({{ 100 + pool_loop.index - 1}}, {{100 + server_name.server}},{{server_name.priority}});
{% endfor %}
{% endfor%}
{% for auid_name in afg_psql_database.AP.auids%}
INSERT INTO AUIDXDMSPOOLMAP (AUIDNAME, XDMSPOOLID, USERGROUP) VALUES ('{{auid_name.auid}}',{{100 + auid_name.pool_id}},'{{auid_name.usergroup}}');
{% endfor %}
UPDATE msaconfig SET value = 'https://{{OAM_MN_IPV4_ADDRESS}}:9443/cpi/alexserv?li=*' where name = 'alexservlet.cpi.link';
\q
exit
# Done! #