<network>
  <name>{{network_name}}</name>
  <!--uuid>97f5046d-0256-45cc-b822-7dacbb652907</uuid-->
  <bridge name='{{bridge_name}}' stp='on' delay='0'/>
  <!--mac address='52:54:00:8f:3d:c7'/-->
  <ip address='{{ip_address}}' netmask='{{netmask}}'>
  </ip>
</network>
