#start#

{% for group, attributes in afg_attributes.iteritems()|sort %}
#{{group}}#
{% for key, value in attributes.iteritems()|sort %}
msaconfigctrl.sh -g {{ CLUSTER_ID }} set {{key}} '{{value}}'
{% endfor%}

{% endfor%}
#end#