[
{
"username": "{{crypt_name}}",
"password": "{{crypt_password}}",
"host": "{{slbspv.switch1IP}}",
"port": "8443",
"routerid_access": "{{IPV4_ADDRESS_OF_ACCESS_INGRESS_SLB01}}",
"routerid_internet": "",
"tenant_name": "None"
},
{
"username": "{{crypt_name}}",
"password": "{{crypt_password}}",
"host": "{{slbspv.switch1IP}}",
"port": "8443",
"routerid_access": "{{IPV4_ADDRESS_OF_ACCESS_INGRESS_SLB02}}",
"routerid_internet": "",
"tenant_name": "None"
},
{
"username": "{{crypt_name}}",
"password": "{{crypt_password}}",
"host": "{{slbspv.switch1IP}}",
"port": "8443",
"routerid_access": "{{IPV4_ADDRESS_OF_ACCESS_INGRESS_SLB03}}",
"routerid_internet": "",
"tenant_name": "None"
},
{
"username": "{{crypt_name}}",
"password": "{{crypt_password}}",
"host": "{{slbspv.switch2IP}}",
"port": "8443",
"routerid_access": "{{IPV4_ADDRESS_OF_ACCESS_INGRESS_SLB01}}",
"routerid_internet": "",
"tenant_name": "None"
},
{
"username": "{{crypt_name}}",
"password": "{{crypt_password}}",
"host": "{{slbspv.switch2IP}}",
"port": "8443",
"routerid_access": "{{IPV4_ADDRESS_OF_ACCESS_INGRESS_SLB02}}",
"routerid_internet": "",
"tenant_name": "None"
},
{
"username": "{{crypt_name}}",
"password": "{{crypt_password}}",
"host": "{{slbspv.switch2IP}}",
"port": "8443",
"routerid_access": "{{IPV4_ADDRESS_OF_ACCESS_INGRESS_SLB03}}",
"routerid_internet": "",
"tenant_name": "None"
}
]
