# initial config #
sysname hp_vsr

ssh server enable
public-key local create rsa

user-interface vty 0 15
 authentication-mode scheme
 protocol inbound all
 history-command max-size 50
 quit
local-user admin
 password simple wapwap12
 service-type ssh terminal telnet http https
 authorization-attribute user-role network-admin
 quit
ip https enable
# end initial config #

## vsr: vpn instance ##
{% for item in hp5900_vpn_instances %}
ip vpn-instance {{item.name}}
 route-distinguisher {{item.rd}}
 quit
{% endfor %}
## end vpn instance ##

## intface setting ##
{% for item in hp_vsr_intfaces %}
int {{item.interface}}
 description {{item.description}}
 ip binding vpn-instance {{item.vpn_instance}}
 ip address {{item.ip_address}} {{item.ip_mask}}
{% endfor %} 
quit
## end intface setting ##

## nqa ##
{% for item in hp5900_nqa %}
nqa entry admin {{item.entry}}
 type icmp-echo
 destination ip {{item.dest_ip}}
 frequency 1000
 probe count 1
 probe timeout 100
 reaction 1 checked-element probe-fail threshold-type consecutive 5 action-type trigger-only
 vpn-instance {{item.vpn_instance}}
{% endfor %}
quit 
## end nqa ##

## nqa enable ##
{% for item in hp5900_nqa %}
nqa schedule admin {{item.entry}} start-time now lifetime forever
{% endfor %}
## end nqa enable ##

## nqa track ##
{% for item in hp5900_nqa %}
track {{item.track}} nqa entry admin {{item.entry}} reaction 1
{% endfor %}
## end nqa track ##

## ip routes ##
{% for item in hp5900_routes %}
ip route-static vpn-instance {{item.vpn_instance}} {{item.dest}} {{item.mask}} {{item.next_hop}} {%if item.track is defined %}track {{item.track}}{% endif %} 
{% endfor %}
## end ip routes ##