#jinja2: lstrip_blocks: True
{% extends "user-data-template.j2" %}

{% block header %}{{super()-}}
{% endblock header %}

{% block passwd %}{{super()-}}
{{self.passwd_all()-}}
{% endblock passwd %}

{% block runcmd %}{{super()-}}
{{self.runcmd_sysctrl()-}}
{{self.runcmd_hosts()-}}
{# {self.runcmd_DNS()-}
{{self.runcmd_NTP()-}} #}
{{self.runcmd_agentmonitor()-}}
{{self.runcmd_keyboard()-}}
{% if vm_type == "ts" %}
{{self.runcmd_license()-}}
{% endif %}
{{self.runcmd_install_sw()-}}
{{self.runcmd_snmp()-}}
{{self.runcmd_esa()-}}
{% if vm_type == "ts" %}{{self.runcmd_init_miep()-}}{% endif %}
{% if vm_type == "ddc" %}{{self.runcmd_datacache()-}}{% endif %}
{% endblock runcmd %}

{% block timezone %}{{super()-}}
timezone: {{VM_TIMEZONE}}
{% endblock timezone %}

{% block write_files %}{{super()-}}
{% if vm_type == "mn" %}
{{self.write_file_init()-}}
{{self.write_file_init_sec()-}}
{% endif %}
{% if vm_type != "mn"  %}
{{self.write_file_bootstrap()-}}
{{self.write_file_networknames()-}}
{% endif %}
{{self.write_file_ifcfg_OAM()-}}
{{self.write_file_ifcfg_Internal()-}}
{% if vm_type == "ts" or vm_type == "ddc" or vm_type == "slb" %}
{{self.write_file_ifcfg_Access()-}}
{% endif %}
{% if vm_type == "ts" or vm_type == "slb" %}
{{self.write_file_ifcfg_Internet()-}}
{% endif %}
{% if vm_type == "ts" %}
{{self.write_file_ifcfg_CPS()-}}
{% endif %}
{% if vm_type == "slb" %}
{{self.write_file_ifcfg_Access_Ingress()-}}
{% endif %}
{% if vm_type == "slb" %}
{{self.write_file_ifcfg_Internet_Ingress()-}}
{% endif %}
{% if vm_type == "mon" %}
{{self.write_file_switch_config()-}}
{% endif %}
{{self.write_file_routes()-}}
{% if vm_type == "mn" %}
{{self.write_file_clusters()-}}
{% endif %}
{{self.write_file_10_local()-}}
{% endblock write_files %}

{% block power_state %}{{super()-}}
{{self.reboot()-}}
{% endblock power_state %}

{# ----------------------------------- self local blocks ---------------------------------- #}
{% block passwd_all %}
 list: |
  root:wapwap12
  miepadm:wapwap12
 expire: False
{% endblock passwd_all %}

{% block runcmd_sysctrl %}
{% if vm_type == "mn" %}
 - [ sh, -xc, "sed -i 's/^.*:.*/admin:6041A28W2rLq6/' /opt/miep/tools/lighttpd/lighttpd_auth.properties" ]
 - [ sh, -xc, "sed -i 's/^.*=.*/admin=709e17d2a62751a051fa2072f0976334/' /opt/miep/register/conf/auth.properties" ]
{% endif %}
 - [ sh, -xc, "echo \" \n\" >> /etc/sysctl.conf" ]
{% endblock runcmd_sysctrl %}

{% block runcmd_hosts %}
 - [ sh, -xc, "echo {{ipaddr_oam}} {{vm_name}} >> /etc/hosts" ]
{% endblock runcmd_hosts %}

{# {% block runcmd_DNS %}
{% for server in IPV4_ADDRESS_OF_DNS_SERVERs %}
 - [ sh, -xc, "/sbin/yast2 dns edit nameserver{{loop.index}}={{ server }}" ]
{% endfor %}
{% endblock runcmd_DNS %} #}

{# {% block runcmd_NTP %}
{% for server in IPV4_ADDRESS_OF_NTP_SERVERs %}
 - [ sh, -xc, "echo server {{server}} >> /etc/ntp.conf" ]
{% endfor %}
 - [ sh, -xc, "/etc/init.d/ntp start" ]
 - [ sh, -xc, "chkconfig ntp on" ]
{% endblock runcmd_NTP %} #}

{% block runcmd_agentmonitor %}
 - [ sh, -xc, "sed -i 's/^    SNMPCOMMUNITY=.*/    SNMPCOMMUNITY=\"publicMiep\"/' /opt/miep/snmp/tools/agentmonitor.sh" ]
{% if vm_type == "mn" %}
 - [ sh, -xc, "sed -i 's/snmptrap -v 1 -c public ${SNMP_IPADDR}:${SNMP_PORT}/snmptrap -v 2c -c publicMiep ${SNMP_IPADDR}:${SNMP_PORT} \"\" $mpeAlarmSet/g' /opt/miep/snmp/tools/MonitorFunctions.sh" ]
 - [ sh, -xc, "sed -i '/$mpeAlarmSet localhost 5 s /d' /opt/miep/snmp/tools/MonitorFunctions.sh" ]
{% endif %}
 - [ sh, -xc, "/etc/init.d/network restart" ]
{% endblock runcmd_agentmonitor %}

{% block runcmd_keyboard %}
 - [ sh, -xc, "/sbin/yast2 keyboard set layout={{VM_keyboard}}" ]
{% endblock runcmd_keyboard %}

{% block runcmd_install_sw %}
 - [ sh, -xc, "mkdir -p /mnt/customizations2" ]
 - [ sh, -xc, "mount -o loop /dev/sr1 /mnt/customizations2" ]
{% if vm_type == "mn" %}
 - [ sh, -xc, "rm -rf /opt/open3ppSource" ]
 - [ sh, -xc, "mkdir /opt/open3ppSource" ]
 - [ sh, -xc, "cp /mnt/customizations2/foss_source/*.zip /opt/open3ppSource/." ]
 - [ sh, -xc, "cp /opt/miep/tools/mnsetup/config.xml /opt/miep/tools/mnsetup/config.xml.orig" ]
 - [ sh, -xc, "cp /mnt/customizations2/mn_setup/config.xml /opt/miep/tools/mnsetup/config.xml" ]
 - [ sh, -xc, "cp /opt/miep/etc/ddc/distributed_data_cache.cfg /opt/miep/etc/ddc/distributed_data_cache.cfg.orig" ]
 - [ sh, -xc, "cp /mnt/customizations2/mn_setup/distributed_data_cache.cfg /opt/miep/etc/ddc/distributed_data_cache.cfg" ]
 - [ sh, -xc, "chown msausr:msagrp /opt/miep/tools/mnsetup/config.xml" ]
 - [ sh, -xc, "rpm -ivh /mnt/customizations2/mn_setup/MSPwfafg*.x86_64.rpm" ]
 - [ sh, -xc, "rpm -ivh /mnt/customizations2/software/esa*.rpm" ]
 - [ sh, -xc, "[ -f /mnt/customizations2/scripts/expandisk.sh ] && /mnt/customizations2/scripts/expandisk.sh" ]
 - [ sh, -xc, "sed -i 's/YPSAddress.*/YPSAddress\"\tvalue=\"https:\\/\\/{{ARWA_FQDN_AND_OPTIONAL_PORT}}\\/YPServer\" \\/>/' /opt/miep/etc/license/SentinelCloudRuntime.properties" ]
 - [ sh, -xc, "/opt/miep/tools/mnsetup/initmn.sh firstinstall 2>&1 | tee /opt/miep/tools/mnsetup/firstinstall.log" ]
 - [ sh, -xc, "source /etc/profile.local && service dbdisks start && service postgresql start && /opt/miep/msaapp/apps/clusteradmin/msa-clusteradmin.sh import /opt/miep/msaapp/apps/clusteradmin/clusters.json && service postgresql stop && service dbdisks stop" ]
 - [ sh, -xc, "chown msausr:msagrp /opt/miep/tools/mnsetup/initafgdashboard.sh" ]
 - [ sh, -xc, "chown msausr:msagrp /opt/miep/msaapp/ins/init-bsf-template-dashboard.sql" ]
 - [ sh, -xc, "su -s /bin/bash - msausr -c \"chmod 755 /opt/miep/tools/mnsetup/initafgdashboard.sh\"" ]
 - [ sh, -xc, "su -s /bin/bash - msausr -c /opt/miep/tools/mnsetup/initafgdashboard.sh" ]
 - [ sh, -xc, "rpm -ivh /mnt/customizations2/software/MSPesaconf*.rpm" ]
{% endif %}
{% if vm_type != "mn" %}
 - [ sh, -xc, "rpm -ivh /mnt/customizations2/software/esa*.rpm" ]
 - [ sh, -xc, "rpm -ivh /mnt/customizations2/software/MSPesaconf*.rpm" ]
 - [ sh, -xc, "[ -f /mnt/customizations2/scripts/expandisk.sh ] && /mnt/customizations2/scripts/expandisk.sh" ] 
{% endif %}
{% if vm_type == "mn" %}
 - [ sh, -xc, "/mnt/customizations2/scripts/hardening.sh NODE_TYPE=mn NB_INTERFACE=2 OAM_IP_ADDRESS={{ipaddr_oam}} OAM_SUBNET={{IPT_OAM_SUBNETs|join(',')}} | tee /var/log/hardening.log" ]
{% elif vm_type == "ts" %}
 - [ sh, -xc, "/mnt/customizations2/scripts/hardening.sh NODE_TYPE=ts NB_INTERFACE=5 OAM_IP_ADDRESS={{ipaddr_oam}} OAM_SUBNET={{IPT_OAM_SUBNETs|join(',')}} | tee /var/log/hardening.log" ]
{% elif vm_type == "slb" %}
 - [ sh, -xc, "/mnt/customizations2/scripts/hardening.sh NODE_TYPE=slb NB_INTERFACE=6 OAM_IP_ADDRESS={{ipaddr_oam}} OAM_SUBNET={{IPT_OAM_SUBNETs|join(',')}} | tee /var/log/hardening.log" ]
{% elif vm_type == "mon" %}
 - [ sh, -xc, "/mnt/customizations2/scripts/hardening.sh NODE_TYPE=mon NB_INTERFACE=2 OAM_IP_ADDRESS={{ipaddr_oam}} OAM_SUBNET={{IPT_OAM_SUBNETs|join(',')}} | tee /var/log/hardening.log" ]
{% elif vm_type == "ddc" %}
 - [ sh, -xc, "/mnt/customizations2/scripts/hardening.sh NODE_TYPE=ddc NB_INTERFACE=3 OAM_IP_ADDRESS={{ipaddr_oam}} OAM_SUBNET={{IPT_OAM_SUBNETs|join(',')}} INTERNAL_IP_ADDRESS={{ipaddr_internal}} | tee /var/log/hardening.log" ]
{% endif %}
 - [ sh, -xc, "umount /mnt/customizations2" ]
{% endblock runcmd_install_sw %}

{% block runcmd_snmp %}
{% if vm_type == "mn" %}
 - [ sh, -xc, "sed -i '/trap2sink.*public 8162/d' /etc/snmp/snmpd.conf" ]
{% endif %}
 - [ sh, -xc, "echo trap2sink {{ipaddr_internal}}:8162 ESA-PC >> /etc/snmp/snmpd.conf" ]
 - [ sh, -xc, "sed -i 's/rocommunity public 127.0.0.1/rocommunity publicMiep {{ipaddr_oam}}/' /etc/snmp/snmpd.conf" ]
 - [ sh, -xc, "/etc/init.d/snmpd restart" ]
{% endblock runcmd_snmp %}

{% block runcmd_esa %}
 - [ sh, -xc, "cp /usr/local/esa/conf/mainCfg.xml /usr/local/esa/conf/mainCfg.xml.orig" ]
 - [ sh, -xc, "sed -i 's/TAG_OAM_IPV4_TAG/{{ipaddr_oam}}/g' /usr/local/esa/conf/mainCfg.xml" ]
 - [ sh, -xc, "sed -i 's/TAG_INTERNAL_IPV4_TAG/{{ipaddr_internal}}/g' /usr/local/esa/conf/mainCfg.xml" ]
{% if vm_type == "mn" %}
 - [ sh, -xc, "sed -i 's/master=\"no\"/master=\"yes\"/g' /usr/local/esa/conf/mainCfg.xml" ]
{% endif %}
 - [ sh, -xc, "cp /usr/local/esa/conf/trapDestCfg.xml /usr/local/esa/conf/trapDestCfg.xml.orig" ]
 - [ sh, -xc, "sed -i 's/TAG_OPERATOR_NMS_IPV4_TAG/{{OPERATOR_NMS_IPV4}}/g' /usr/local/esa/conf/trapDestCfg.xml" ]
 - [ sh, -xc, "cp /usr/local/esa/conf/clusterCfg.xml /usr/local/esa/conf/clusterCfg.xml.orig" ]
 - [ sh, -xc, "sed -i 's/TAG_INTERNAL_IPV4_TAG/{{ipaddr_internal}}/g' /usr/local/esa/conf/clusterCfg.xml" ]
 - [ sh, -xc, "echo '-Djava.net.preferIPv4Stack=true' >> /usr/local/esa/bin/esafma.vmoptions" ]
 - [ sh, -xc, "service esama start" ]
 - [ sh, -xc, "service esafma start" ]
 - [ sh, -xc, "service esapma start" ]
{% endblock runcmd_esa %}

{% block runcmd_init_miep %}
 - [ sh, -xc, "insserv init.miep" ]
 - [ sh, -xc, "/etc/init.d/init.miep start" ]
{% endblock runcmd_init_miep %} 

{% block runcmd_datacache %}
 - [ sh, -xc, "/bin/rm -f /opt/miep/tools/dataCacheMgmt" ]
{% endblock runcmd_datacache %}

{% block runcmd_license %}
{% for server in license_servers %}
 - [ sh, -xc, "echo {{server.IPV4_ADDRESS_OF_LICENSE_SERVER}} {{server.HOSTNAME_OF_LICENSE_SERVER}} >> /etc/hosts" ]
{% endfor %}
{% endblock runcmd_license %}

{% block write_file_init %}
 - content: |
    MN_OAM_IPADDR={{IPV4_ADDRESS_OF_OAM_MN}}
    MN_INTERNAL_IPADDR={{IPV4_ADDRESS_OF_INTERNAL_MN}}
    SNMP_IPADDR={{IPV4_ADDRESS_OF_INTERNAL_MN}}
    SNMP_PORT=8162
    MN_SERVER_GROUPNAME={{CLUSTER_ID}}
    STORAGE_TYPE=VMWARE
    SUPPORT_LANG_LIST={"en":"English"}
    AUTOSTART=Y
    AUTODBPATCH=Y
    PRODUCT=AFG
   path: /opt/miep/tools/mnsetup/init.properties
   owner: root:root
   permissions: '0640' 
{% endblock write_file_init %}

{% block write_file_init_sec %}
 - content: |
    CAE_PASSWORD=wapwap12
    MSA_PASSWORD=wapwap12
    CAPLOG_PASSWORD=wapwap12
    TRACELOG_PASSWORD=wapwap12
   path: /opt/miep/tools/mnsetup/init.properties.sec
   owner: root:root
   permissions: '0640'
{% endblock write_file_init_sec %}

{% block write_file_bootstrap %}
 - content: |
    {
     "registrar": "https://{{IPV4_ADDRESS_OF_INTERNAL_MN}}:9443/api/",
     "clusterid": "{{CLUSTER_ID}}",
     "vmname": "{{vm_name}}",
     "basicauthuser": "admin",
     "basicauthpwd": "wapwap12"
    }
   path: /opt/miep/init/bootstrap.json
   owner: root:root
   permissions: '0640'
{% endblock write_file_bootstrap %}

{% block write_file_networknames %}
 - content: |
    [
    {
    "interfacename": "eth0",
    "networkname": "OAM"
    },
    {
    "interfacename": "eth1",
    "networkname": "Internal"
    }{% if vm_type == "ts" or vm_type == "ddc" or vm_type == "slb"%},
    {
    "interfacename": "eth2",
    "networkname": "Access"
    }{%endif%}{% if vm_type == "ts" or vm_type == "slb" %},
    {
    "interfacename": "eth3",
    "networkname": "Internet"
    }{%endif%}{% if vm_type == "ts" %},
    {
    "interfacename": "eth4",
    "networkname": "ControlPlaneSig"
    }{% endif %}{% if vm_type == "slb" %},
    {
    "interfacename": "eth4",
    "networkname": "AccessIngress"
    },
    {
    "interfacename": "eth5",
    "networkname": "InternetIngress"
    }{% endif %} 
    ]
   path: /opt/miep/init/networknames.json
   owner: root:root
   permissions: '0644'
   {% endblock write_file_networknames %}

{% block write_file_ifcfg_OAM %}
 - content: |
    BOOTPROTO='static'
    IPADDR='{{ipaddr_oam}}'
    NETMASK='{{IPV4_NETMASK_OF_OAM}}'
    STARTMODE='onboot'
    USERCONTROL='no'
   path: /etc/sysconfig/network/ifcfg-eth0
   owner: root:root
   permissions: '0644'
{% endblock write_file_ifcfg_OAM %}

{% block write_file_ifcfg_Internal %}
 - content: |
    BOOTPROTO='static'
    IPADDR='{{ipaddr_internal}}'
    NETMASK='{{IPV4_NETMASK_OF_INTERNAL}}'
    STARTMODE='onboot'
    USERCONTROL='no'    
   path: /etc/sysconfig/network/ifcfg-eth1
   owner: root:root
   permissions: '0644'
{% endblock write_file_ifcfg_Internal %}

{% block write_file_ifcfg_Access %}
 - content: |
    BOOTPROTO='static'
    IPADDR='{{ipaddr_access}}'
    NETMASK='{{IPV4_NETMASK_OF_ACCESS}}'
    STARTMODE='onboot'
    USERCONTROL='no'
   path: /etc/sysconfig/network/ifcfg-eth2
   owner: root:root
   permissions: '0644'
{% endblock write_file_ifcfg_Access %}

{% block write_file_ifcfg_Internet %}
 - content: |
    BOOTPROTO='static'
    IPADDR='{{ipaddr_internet}}'
    NETMASK='{{IPV4_NETMASK_OF_INTERNET}}'
    STARTMODE='onboot'
    USERCONTROL='no'
   path: /etc/sysconfig/network/ifcfg-eth3
   owner: root:root
   permissions: '0644'
{% endblock write_file_ifcfg_Internet %}

{% block write_file_ifcfg_CPS %}
 - content: |
    BOOTPROTO='static'
    IPADDR='{{ipaddr_cps}}'
    NETMASK='{{IPV4_NETMASK_OF_CPS}}'
    STARTMODE='onboot'
    USERCONTROL='no'
   path: /etc/sysconfig/network/ifcfg-eth4
   owner: root:root
   permissions: '0644'
{% endblock write_file_ifcfg_CPS %}

{% block write_file_ifcfg_Access_Ingress %}
 - content: |
    BOOTPROTO='static'
    IPADDR='{{ipaddr_access_ingress}}'
    NETMASK='{{IPV4_NETMASK_OF_ACCESS_INGRESS}}'
    STARTMODE='onboot'
    USERCONTROL='no'
   path: /etc/sysconfig/network/ifcfg-eth4
   owner: root:root
   permissions: '0644'
{% endblock write_file_ifcfg_Access_Ingress %}

{% block write_file_ifcfg_Internet_Ingress %}
 - content: |
    BOOTPROTO='static'
    IPADDR='{{ipaddr_internet_ingress}}'
    NETMASK='{{IPV4_NETMASK_OF_INTERNET_INGRESS}}'
    STARTMODE='onboot'
    USERCONTROL='no'
   path: /etc/sysconfig/network/ifcfg-eth5
   owner: root:root
   permissions: '0644'
{% endblock write_file_ifcfg_Internet_Ingress %}

{% block write_file_switch_config %}
 - content: |
    [
    {
    "username": "root",
    "password": "wapwap12",
    "host": "192.168.10.2",
    "port": "8443",
    "routerid_access": "VR-accessPOD60",
    "routerid_internet": "VR-internetPOD60",
    "tenant_name": "None"
    },
    {
    "username": "root",
    "password": "wapwap12",
    "host": "192.168.10.3",
    "port": "8443",
    "routerid_access": "VR-accessPOD60",
    "routerid_internet": "VR-internetPOD60",
    "tenant_name": "None"
    }
    ]
   path: /opt/miep/slbspv/SwitchConfig.json
   owner: root:root
   permissions: '0644'
{% endblock write_file_switch_config %}

{% block write_file_routes %}
 - content: |
    default {{IPV4_DEFAULT_GATEWAY_OAM}} - -
{% if vm_type == "ts" %}
    #Access
{% for item in ROUTES_ACCESS %}
    {{item}} {{IPV4_DEFAULT_GATEWAY_ACCESS}} -
{% endfor %}
    #CPS
{% for item in IPV4_ADDR_OF_XDMSs %}
    {{item}} {{IPV4_DEFAULT_GATEWAY_CPS}} 255.255.255.255 -
{% endfor %}
{% for item in IPV4_ADDR_OF_DNSENUMs %}
    {{item}} {{IPV4_DEFAULT_GATEWAY_CPS}} 255.255.255.255 -
{% endfor %}
{% for item in IPV4_ADDR_OF_HSSes %}
    {{item}} {{IPV4_DEFAULT_GATEWAY_CPS}} 255.255.255.255 -
{% endfor %}
{# {% for item in ROUTES_CPS %}
    {{item}} {{IPV4_DEFAULT_GATEWAY_CPS}} -
{% endfor %} #}
    #Internet
{% for item in ROUTES_ARWA %}
    {{item}} {{IPV4_DEFAULT_GATEWAY_INTERNET}} 255.255.255.255 -
{% endfor %}
{# {% for item in ROUTES_INTERNET %}
    {{item}} {{IPV4_DEFAULT_GATEWAY_INTERNET}} -
{% endfor %} #}
{% endif %}
   path: /etc/sysconfig/network/routes
   owner: root:root
   permissions: '0644'
{% endblock write_file_routes %}

{% block write_file_clusters %}
 - content: WwogIHsKICAgICJwYXJlbnQiIDogInJvb3QiLAogICAgImdyb3VwcyIgOiBbCiAgICAgIHsKICAgICAgICAiZ3JvdXBuYW1lIiA6ICJUZXN0IiwKICAgICAgICAiZGlzcGxheW5hbWUiIDogIlRlc3QiLAogICAgICAgICJkZXNjcmlwdGlvbiIgOiAiVGVzdCBDbHVzdGVyIgogICAgICB9CiAgICBdCiAgfQpd
   path: /opt/miep/msaapp/apps/clusteradmin/clusters.json
   encoding: b64
   owner: msausr:msagrp
   permissions: '0640'
{% endblock write_file_clusters %}

{% block write_file_10_local %}
 - content:
   path: /etc/udev/rules.d/10-local.rules
   encoding: b64
   owner: root:root
   permissions: '0640'
{% endblock write_file_10_local %}

{% block reboot %}
 mode: reboot
 message: Server will reboot now
 timeout: 5
{% endblock reboot %} 
